{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
    <title>Gerenciar setores</title>
{% endblock %}

{% block conteudo %}
    
    <div class="container mt-4">
        <a href="{% url 'setor-create' %}">Adicionar setor</a>
    </div>


    <table class="table table-striped container mt-4 campo">
        <thead>
            <tr>
                <th>Segunda-feira</th>
                <th>Terça-feira</th>
                <th>Quarta-feira</th>
                <th>Quinta-feira</th>
                <th>Sexta-feira</th>
            </tr>
        </thead>

        <tbody>
            
            <tr>   
                {% include 'listas/setor/setores_parcial_list.html' %}
            </tr>
            
        </tbody>
    </table>

    <!-- MODAL -->
    <div class="modal" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>

{% endblock %}

{% block rodape %}
    <footer id="rodape">
    </footer>
{% endblock %}

{% block script %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}