{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
    <title>Horários dos setores</title>
{% endblock %}

{% block conteudo %}
    <main class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Segunda-feira</th>
                    <th>Terça-feira</th>
                    <th>Quarta-feira</th>
                    <th>Quinta-feira</th>
                    <th>Sexta-feira</th>
                </tr>
            </thead>

            <tbody>
                {% for setor in setores %}
                    {% if setor.set_dia_semana == "SEG" %}
                        <td>
                            {{ setor.set_nome}} - {{ setor.set_numero_sala }}
                        </td>
                    {% elif setor.set_dia_semana == "TER" %}
                        <td>
                            {{ setor.set_nome}} - {{ setor.set_numero_sala }}
                        </td>
                    {% elif setor.set_dia_semana == "QUA" %}
                        <td>
                            {{ setor.set_nome}} - {{ setor.set_numero_sala }}
                        </td>
                    {% elif setor.set_dia_semana == "QUI" %}
                        <td>
                            {{ setor.set_nome}} - {{ setor.set_numero_sala }}
                        </td>
                    {% elif setor.set_dia_semana == "SEX" %}
                        <td>
                            {{ setor.set_nome}} - {{ setor.set_numero_sala }}
                        </td>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}