{% extends 'modelo.html' %}
{% load static %}

<!-- TELA AINDA NÃO REGISTRADA AINDA -->
<!-- PRECISAMOS DELA FEITA  -->

{% block titulo %}
<title>Administração</title>
{% endblock %}

{% block conteudo %}
<section class="container">
    
    <div class="section-informacoes-admin row">
        <h1 class="content-title-admin">QUEM RECEBE AS NOVIDADES?</h1>

        <div class="col-md-6">
            <ul class="lista"> 
                <li><a href="#">NUTRIÇÃO</a></li>
                <li><a href="#">ASSISTÊNCIA SOCIAL</a></li>
                <li><a href="#">SETORES</a></li>
                <li><a href="#">EVENTOS E CAMPANHAS</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h1 class="content-title-admin-acoes">PRINCIPAIS AÇÕES</h1>
            <ul class="lista"> 
                <li><a href="{% url 'post-create' %}">Nova postagem</a></li>
                <li><a href="#">Novo cardápio</a></li>
                <li><a href="#">Adicionar setor</a></li>
                <li><a href="#">Atualizar horários</a></li>
            </ul>
        </div>
    </div>
    <!-- FIM DA LINHA -->
</section>
{% endblock %}