{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
<title>Bee informa</title>
{% endblock %}

{% block header-main %}
<div id="header-main">
    <h1>BEE INFORMA</h1>
    <p id="header-main-paragraph"><p id="header-main-paragraph">Bem vindo(a) a colmeia de informações</p>
</div>
{% endblock %}


{% block conteudo %}
    <section class="container">
        <div class="section-content">
            <!-- -------------- LINHA -------------- -->
            <div class="row">
                <!-- -------------- COLUNA -------------- -->
                <div class="col-md-6">
                    <div class="section-informacoes">
                        <h5>ASSISTÊNCIA SOCIAL</h5>
                        <h1>PROGRAMAS DE AUXÍLIO</h1>
        
                        <ul class="lista-de-informacoes">
                            <li><a href="#">Apoio à formação estudantil (PAFE)</a></li>
                            <li><a href="#">Apoio à formação estudantil (PAFE)</a></li>
                            <li><a href="#">Apoio à formação estudantil (PAFE)</a></li>
                        </ul>

                        <button class="btn botao">CONFIRA</button>
                    </div>
                </div>
                <!-- ----------------------------------- -->

                <!-- -------------- COLUNA -------------- -->
                <div class="col-md-6">
                    <div class="section-informacoes">
                        <h5>DÚVIDAS</h5>
                        <h1>CONFIRA AS DÚVIDAS FREQUENTES DOS ALUNOS</h1>
                        <button class="btn botao">CONFIRA</button>
                    </div>

                    <div class="section-informacoes">
                        <h5>NUTRIÇÃO</h5>
                        <h1>CONFIRA O CARDÁPIO DO DIA</h1>
                        <button class="btn botao">CONFIRA</button>
                    </div>
                </div>
                <!-- ----------------------------------- -->
                
            
               
                
                <!-- -------------- COLUNA -------------- -->
                <div class="col-md-6">
                    <div class="section-informacoes">
                        <h1>EVENTOS/CAMPANHAS</h1>
        
                        <ul class="lista-de-informacoes">
                            <li><a href="#">Evento</a></li>
                            <li><a href="#">Evento</a></li>
                            <li><a href="#">Evento</a></li>   
                        </ul>
    
                        <button class="btn botao">CONFIRA</button>
                    </div>
                </div>
            
                <div class="col-md-6">
                    <div class="section-informacoes">
                        <h5>SETORES</h5>
                        <h1>CONFIRA OS HORÁRIOS DOS SETORES</h1>
                        <button class="btn botao">CONFIRA</button>
                    </div>
                </div>
                <!-- ----------------------------------- -->
                
            </div>
            <!-- ----------------------------------- -->

        </div>
    </section>
{% endblock %}