@import url("./static.css");

body {
    font-family: "fira-regular";
}

.cabecalho {
    width: 100%;
    height: 400px;
    background-color: var(--amarelo-primario);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
    font-family: 'fira-bold';
}

.nav-bar a {
    text-decoration: none;
    color: var(--branco-neutro);
    margin-top: 20px;
}

.nav-bar a:hover {
    color: var(--roxo-primario);
    text-shadow: none;
}

#header-main {
    margin-top: 50px;
}

#header-main h1 {
    font-family: 'fira-extraBold';
    color: var(--branco-neutro);
    /* text-shadow: 3px 3px 4px var(--black); */
}

#header-main-paragraph {
    width: 350px;
    text-align: justify;
    color: var(--branco-neutro);
    opacity: 0.90;
}

/* ########## SECTIONS ########## */

.section {
    margin-left: 5em;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 4em;
    width: 85em;
}

.section-img {
    width: 180px;
}

.section-cards {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.section-cards img{
    width: 120px;
}

.section-title {
    font-family: 'fira-bold';
    color: var(--roxo-primario);
    font-size: 30px;
}

.section-paragraph {
    text-align: justify;
}

.reverse {
    flex-direction: row-reverse; 
}

/* ########## RODAPÉ ########## */
#rodape {
    margin-top: 200px;
}

/* TELAS MENORES QUE 900px */
@media screen and (max-width: 990px) {

    .nav-bar {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        font-family: 'fira-bold';
    }

    .section {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 1000px;
    }
    
    .section-img {
        width: 150px;
    }

    .section-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .section-cards {
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }
    
    .section-cards img{
        width: 100px;
    }
    
    .section-title {
        font-family: 'fira-bold';
        color: var(--roxo-primario);
        font-size: 25px;
    }
}