:root {
    --branco-neutro: #fff;
    --roxo-primario: #831E62;
    --amarelo-primario: #F5C73E;
    --black: #000;
}

/* FONTES */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700;800&display=swap');


/* SCROLL BAR */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 50px;
    background-color: var(--roxo-primario);
}

/* ESTILOS ESPECÍFICOS */
.reverse {
    flex-direction: row-reverse; 
}

.no-display-flex {
    display: block;
}

.botao {
    background-color: var(--roxo-primario);
    border: none;
    padding: 10px 50px;
    color: var(--branco-neutro);
}

