@import url(./static.css);

body {
    font-family: "fira-regular";
}

/* CABEÇALHO */
.cabecalho {
    width: 100%;
    height: 250px;
    background-color: var(--amarelo-primario);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
    font-family: 'fira-bold';
}

.nav-bar a {
    text-decoration: none;
    color: var(--branco-neutro);
    margin-top: 20px;
    text-shadow: 2px 2px 3px var(--black);
}

.nav-bar a:hover {
    color: var(--roxo-primario);
    text-shadow: none;
}

#header-main {
    margin-top: 50px;
}

#header-main h1 {
    font-family: 'fira-extraBold';
    color: var(--branco-neutro);
    text-shadow: 3px 3px 4px var(--black);
}

#header-main-paragraph {
    width: 350px;
    text-align: justify;
}

/* SECTIONS */

.section-informacoes {
    margin-top: 100px;
    width: 500px;
    box-shadow: 4px 4px 8px rgba(100, 100, 100, 0.6);
    border-radius: 10px;
    padding: 30px;
}

.section-informacoes h5 {
    color: var(--amarelo-primario);
    font-family: "fira-medium";
    font-size: 16px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.section-informacoes h1 {
    color: var(--roxo-primario);
    font-family: "fira-bold";
    font-size: 28px;
}

.section-informacoes button {
    position: relative;
    margin-left: 270px;
    margin-top: 20px;
}

.lista-de-informacoes {
    list-style: none;
    margin-top: 20px;
}

.lista-de-informacoes a {
    text-decoration: none;
}

.section-content {
    margin-top: 100px;
}

.grid-template {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content-title {
    font-family: 'fira-bold';
    color: var(--roxo-primario);
}

.content-hero p {
    font-family: 'fira-light';
}

.content-date {
    font-family: 'fira-medium';
}

.content-image {
    width: 400px;
    height: 400px;
    background-color: antiquewhite;
}

.content-group {
    margin-top: 25px;
}

.content-group .group-title {
    font-family: 'fira-bold';
    color: var(--roxo-primario);
}

/* ########## RODAPÉ ########## */
#rodape {
    margin-top: 200px;
}
