{% extends 'modelo.html' %}
{% load static %}

<!-- TELA AINDA NÃO REGISTRADA AINDA -->
<!-- PRECISAMOS DELA FEITA  -->

{% block titulo %}
<title>Administração</title>
{% endblock %}

{% block conteudo %}
<section class="container">
    
    <div class="section-informacoes-admin row">

        <div class="col-md-6">
            <h1 class="content-title-admin-acoes">PRINCIPAIS AÇÕES</h1>
            <ul class="lista"> 
                <li><a href="{% url 'post-create' %}">Nova postagem</a></li>
                <li><a href="{% url 'cardapio-create' %}">Novo cardápio</a></li>
                <li><a href="{% url 'setor-create' %}">Adicionar setor</a></li>
                <li><a href="#">Atualizar horários</a></li>
            </ul>
        </div>
    </div>

    <div class="section-informacoes-admin row">
        <div class="col-md-6">
            <h1 class="content-title-admin-acoes">Gerenciamento das postagens</h1>
            <ul class="lista"> 
                <li><a href="{% url 'gerenciar-posts' %}">Gerenciar postagens</a></li>
                <li><a href="{% url 'gerenciar-setores' %}">Gerenciar setores</a></li>
                <li><a href="{% url 'gerenciar-cardapio' %}">Gerenciar cardápio</a></li>
            </ul>
        </div>
    </div>
    
    <!-- FIM DA LINHA -->
</section>
{% endblock %}