{% for post in posts %}
    
    <section class="container" id="postagem">
        <div class="section-content">
            
            <div class="row">
               
                <div class="col-md-12">
                    <h1 class="content-title">{{ post.pos_titulo }}</h1>
                </div>
           
                <div class="col-md-8">
                    <div class="content-hero">
                        <p>{{ post.pos_conteudo }}</p>
                    </div>

                    <!-- comentei algumas coisas, pois não tem sentido ter isso se não colocamos campos para eles -->
                    <div class="content-date">
                        <h5>Data de registro: {{ post.pos_data_registro }} </h5>
                        <!-- <h5>Autor: </h5>
                        <h5>Inscreva-se: </h5> -->
                    </div>

                    <div class="content-group">
                        <h3 class="group-title">EDITAL</h3>
                        <a href="#">Link edital</a>
                    </div>
                    
                    <!-- opçoes admin -->

                    <!-- ATIVAR ESSE IF DEPOIS -->
                   
                        <div class="content-group">
                            <h3 class="group-title">OPÇÕES:</h3>
                            <button class="btn btn-danger" id="js-delete" data-url="{% url 'post-delete' post.pk %}">Excluir</button>
                            <button class="btn btn-warning" id="js-update" data-url="{% url 'post-update' post.pk %}">Editar</button>
                        </div>
     
                    <!-- <div class="content-group">
                        <h3 class="group-title">O que levar?</h3>
                        <ul>
                            <li>CPF</li>
                            <li>CPF</li>
                            <li>CPF</li>
                        </ul>
                    </div> -->
                </div>
    
                <div class="col-md-4">
                    <div class="content-image"></div>
                </div>
 
            </div>  

        </div>  

    </section>
{% endfor %}