{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
<title>Assistencia social</title>
{% endblock %}

{% block conteudo %}
    {% for post in posts %}
    
    <section class="container postagem">
        <div class="section-content">
            <!-- LINHA -->
            <div class="row">
                <!-- COLUNA -->
                <div class="col-md-12">
                    <h1 class="content-title">{{ post.pos_titulo }}</h1>
                </div>
                <!-- FIM DA COLUNA -->

                <!-- COLUNA -->
                <div class="col-md-8">
                    <div class="content-hero">
                        <p>{{ post.pos_conteudo }}</p>
                    </div>


                    <!-- comentei algumas coisas, pois não tem sentido ter isso se não colocamos campos para eles -->
                    <div class="content-date">
                        <h5>Data de registro: {{ post.pos_data_registro }} </h5>
                        <!-- <h5>Autor: </h5>
                        <h5>Inscreva-se: </h5> -->
                    </div>

                    <div class="content-group">
                        <h3 class="group-title">EDITAL</h3>
                        <a href="#">Link edital</a>
                    </div>
                    
                    <!-- opçoes admin -->

                    <!-- ATIVAR ESSE IF DEPOIS -->
                   
                        <div class="content-group">
                            <h3 class="group-title">OPÇÕES:</h3>
                            <button class="btn btn-danger js-delete" data-url="{% url 'post-delete' post.id %}">Excluir</button>
                            <button class="btn btn-warning js-editar" >Editar</button>
                        </div>
                   

                    <!-- <div class="content-group">
                        <h3 class="group-title">O que levar?</h3>
                        <ul>
                            <li>CPF</li>
                            <li>CPF</li>
                            <li>CPF</li>
                        </ul>
                    </div> -->
                </div>
                <!-- FIM DA COLUNA -->

                <!-- COLUNA -->
                <div class="col-md-4">
                    <div class="content-image"></div>
                </div>
                <!-- FIM DA COLUNA -->

                
            </div>  
            <!-- FIM DA LINHA -->
        </div>  

    </section>
    {% endfor %}

    <!-- MODAL -->
    <div class="modal" id="modal-post">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block rodape %}
{% endblock %}
