{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
<title>Assistencia social</title>
{% endblock %}

{% block conteudo %}
    
    <div id="campo-postagens">
        {% include 'listas/parcial_list.html' %}
    </div>
    
    <!-- MODAL -->
    <div class="modal" id="modal-post">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block rodape %}
{% endblock %}
