
<form action="{% url 'cardapio-delete' item.pk %}" method="POST" id="js-delete-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Deletar item do cardápio</h4>
        <button type="button" class="closer" data-dismiss="modal">X</button>
    </div>

    <div class="modal-body">
        <p>Deletar o item <strong>{{ item }}?</strong></p>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
    </div>
    
</form>